html {
    scroll-behavior: smooth;
    font-family: roboto;
}  
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 10px!important;
}
::-webkit-scrollbar-thumb {
    background: #12491E; 
}
.horizontal_scroll{
    height:max-content;
    padding: 0px !important;
    overflow-x:scroll;
    overflow-y: hidden;
    white-space: nowrap;
}